
*{
  // padding: 0;
  // margin: 0;
}
.table-card{
  margin-top: 20px;
}
.pages-number{
  text-align: right;
  margin-top: 10px;
}
.table-list{
  // text-align: center;
}
.table-content{
  border-collapse: collapse;
  line-height: 38px;
  width: 100%;
  font-size: 14px;
  text-align: right;
  td{
    border:1px solid #DEDFE1;
    padding-left: 18px;
    padding-right: 18px;
  }
}
.table-header{
  width: 140px;
  text-align: left;
}
.card-boxs{
  margin: 40px;
}
.title-h1{
  font-size: 16px;
  line-height: 18px;
  color: #5c5959;
  padding: 0 12px;
  font-weight: 400;
  border-left: 4px solid #409EFF;
}